{% extends "base.tpl" %}

{% block header %}
<script src='/static/js/search.js'></script>
{% endblock %}

{% block content %}
<div class="row-fluid">
  <div class="span3">
    <ul class="well nav nav-list">
      <li class="nav-header">Available projects</li>
      {% for project in projects %}
      <li{% if selected_project == project %} class="active"{% endif %}><a href="/p/{{ project }}">{{ project }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="span9">
    {% block search_panel %}
    <p class="lead">Use the project browser on the left in order to start searching.</p>
    {% endblock %}
  </div>
</div>
{% endblock %}