{% extends "index.html" %}

{% block header %}
        <script type="text/javascript" src="/static/js/jquery.highlight.js"></script>
        <script type="text/javascript">
            $(function(){
               $('#results pre').highlight('{{search_text}}');
            });
        </script>
{% endblock %}

{% block search_panel %}
{% if form %}
<form method="get" action="{{ request.path }}" class="form-search">
    <input type="text" name="q" placeholder="Search text" class="input-medium" />
    <button type="submit" class="btn">Search</button>
</form>
{% else %}
{% if search_text %}
<h4>Page <em>{{ page.current }}</em> of <em>{{ total_count }}</em> Results</h4>
{% endif %}

{% include "pagination.tpl" %}

<div id="results">
    {% if results %}
    {% for item in results %}
    <div class='result' data-src="{{ item.index_path }}">
        <div class="filename">
            <a href='/p/{{ selected_project }}/document?path={{ item.index_path|urlencode }}&q={{ search_text }}&p={{ page.current }}'>/{{ item.index_path }}</a>
        </div>
        {% for lineno,line in item.lines %}
        <a href="/p/{{ selected_project }}/document?path={{ item.index_path|urlencode }}&line={{lineno|trim}}&highlight={{search_text}}"><pre>{{ lineno|rjust(item.rjust) }}: {{ line }}</pre></a>
        {% endfor %}
    </div>
    {% endfor %}
    {% elif page %}
    Your search - {{ search_text }} - did not match any documents{% if page.current > 1 %} for page {{ page.current }}{% endif %}.
    {% endif %}
</div>
{% endif %}
{% endblock %}