{% extends "index.html" %}

{% block search_panel %}
{% if form %}
<form method="get" action="{{ request.path }}" class="form-search">
    <input type="text" name="q" placeholder="Search text" class="input-medium" />
    <button type="submit" class="btn">Search</button>
</form>
{% else %}
{% if search_text %}
<h4>Page <em>{{ page.current }}</em> of <em>{{ total_count }}</em> Results</h4>
{% endif %}

{% include "pagination.tpl" %}

<div id="results">
    {% if results %}
    {% for item in results %}
    <div class='result' data-src="{{ item.result.index_path }}">
        <div class="filename">
            <a href='/p/{{ selected_project }}/document?path={{ item.result.index_path|urlencode }}&q={{ search_text }}&p={{ page.current }}'>/{{ item.result.index_path }}</a>
        </div>
        <div class="syntax">
            <pre>{{ item.html|safe|trim }}</pre>
        </div>
    </div>
    {% endfor %}
    {% elif page %}
    Your search - {{ search_text }} - did not match any documents{% if page.current > 1 %} for page {{ page.current }}{% endif %}.
    {% endif %}
</div>
{% endif %}
{% endblock %}